<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Split My Bill</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/bill_split.css">


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javascript/components/navbar.js"></script>

</head>
<body>

    <main id="main">
        <navbar
        v-bind:is-login="is_user_login"
        v-bind:links="links"
        v-bind:image="image"
        id="nav"></navbar>


        <!-- This is the selecter page -->
        <!-- User specifies the no of people, service charge and GST -->

        <div class="container input-data" v-if="!is_ready" >
            <h1>Split My Bill</h1>
            <h5>Please provide the following details</h5>

            <!-- Input your information -->
            <form @submit.prevent="toggleView" class="input-form">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="people-addon">No. of People</span>
                    </div>
                    <select
                        class="custom-select"
                        id="inputPeople"
                        placeholder="No. of People"
                        aria-label="Number of People"
                        aria-describedby="people-addon"
                        v-model="people"
                    >
                        <option v-for="(num, index) in max_people" 
                            v-if="index >= 1"
                            :selected="index == 2"
                        >{{num}}</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="service-addon">Service Charge (%)</span>
                    </div>
                    <input
                        type="number"
                        class="form-control"
                        placeholder="Service Charge"
                        aria-label="Service Charge in percentage"
                        aria-describedby="service-addon"
                        step="0.01"
                        min="0"
                        v-model="srv"
                    >
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="tax-addon">GST Charge (%)</span>
                    </div>
                    <input
                        type="number"
                        class="form-control"
                        placeholder="GST Charge"
                        aria-label="Service Charge in percentage"
                        aria-describedby="service-addon"
                        step="0.01"
                        min="0"
                        v-model="gst"
                    >
                </div>

                <button class="btn btn-success mt-3">
                    Split my Bill
                </button>
            </form>
        </div>

        <div v-else class="container show-data">
            <div class="row">

                <!-- Choose who O$P$ -->
                <div class="col-md-5" id="input-money-card">
                    <div class="card card-body mb-3">
                        <form @submit.prevent="addItem" id="form2">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="dish-addon">Dish Name</span>
                                </div>
                                <input type="text"
                                    class="form-control"
                                    id="dishName"
                                    placeholder="Dish Name"
                                    v-model.trim="dish_name"
                                    required
                                >
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cost-addon">Net Dish Cost ($)</span>
                                </div>
                                <input type="number"
                                    class="form-control"
                                    id="price"
                                    placeholder="Cost of the Dish"
                                    min="0"
                                    step="0.01"
                                    v-model.trim="dish_cost"
                                    required
                                >
                            </div>
                            <div class="mb-2">
                                <span class="mr-3">GST: {{gst}}%</span>
                                <span>Service: {{srv}}%</span>
                            </div>
                            <div id="who_share" class="mb-3">
                                <p>Who did you share it with?</p>
                                
                                <div class="card card-body checkbox">
                                    <div v-for="pax in people_list" class="form-check">
                                        <input type=checkbox :value="pax.id" class="form-check-input" :id="pax.id" v-model="sharing_people_list">
                                        <label class="form-check-label" :for="pax.id">{{pax.name}}</label>
                                    </div>
                                </div>

                                <div v-if="is_no_people" class="mt-3 alert alert-warning">
                                    Select at least one person
                                </div>
                            </div>
            
                            <button class="btn btn-success">Add Item</button>
                        </form>
                    </div>
                </div>

                <!-- Display who O$P$ -->
                <div class="col-md-5">
                    <div class="card mb-2" v-for="pax in people_list">
                        <div :class="pax.money > 0 ? 'people card-header' : 'card-header'">
                            <span>{{pax.name}}</span>
                            <span v-if="pax.money > 0">${{pax.money.toFixed(2)}}</span>
                        </div>
                        <div class="mt-2" v-if="pax.dish.length > 0">
                            <ul>
                                <li v-for="dish in pax.dish">{{dish}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row back-row">
                <button
                    class="btn btn-light mt-3"
                    @click="toggleView"
                >Back</button>
            </div>
        

        </div>
    </main>
</body>

<script src="../javascript/bill_splitter.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</html>
