<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Profile</title>


    <!-- Javascript Preload -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javascript/components/navbar.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/login.css">
        
</head>
<body>

    <main id="main"> 
        <navbar
            v-bind:is-login="is_user_login"
            v-bind:links="links"
        ></navbar>

        <div class="container px-5 pt-3">
            <form v-on:submit.prevent="" method="post">

                <div class="form-group">
                    <div class="avatar-upload">
                        <div class="avatar-edit" v-if="is_edit">
                            <button for="photo"
                                data-toggle="collapse"
                                data-target="#select_image"
                                aria-expanded="false"
                            >
                                <span class='material-icons'>create</span> 
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" ref="imagePreview" v-bind:style="{'background-image': 'url(\'../images/profile/'+ image + '.png\')'}">
                            </div>
                        </div>
                    </div>
                </div>

                <h1 v-if="!is_edit">Hello, {{name}}</h1>

                <div class="collapse mb-5" id="select_image">
                    <div class="card card-body">
                        <h6>Change Profile Picture</h6>

                        <div class="pic-row">
                            <label>
                                <input type="radio" name="image_picker" value="cat" v-model="image">
                                <img src="../images/profile/cat.png" class="profile_image_picker">
                            </label>

                            <label>
                                <input type="radio" name="image_picker" value="dog" v-model="image">
                                <img src="../images/profile/dog.png" class="profile_image_picker">
                            </label>

                            <label>
                                <input type="radio" name="image_picker" value="fox" v-model="image">
                                <img src="../images/profile/fox.png" class="profile_image_picker">
                            </label>

                            <label>
                                <input type="radio" name="image_picker" value="rabbit" v-model="image">
                                <img src="../images/profile/rabbit.png" class="profile_image_picker">
                            </label>

                            <label>
                                <input type="radio" name="image_picker" value="squrriel" v-model="image">
                                <img src="../images/profile/squrriel.png" class="profile_image_picker">
                            </label>

                            <label>
                                <input type="radio" name="image_picker" value="kingfisher" v-model="image">
                                <img src="../images/profile/kingfisher.png" class="profile_image_picker">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name_input"
                        name="name_input"
                        placeholder="Name"
                        v-model.trim="name"
                        :readonly="is_edit ? false : true"
                    >
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input 
                        type="email"
                        :class="is_email_invalid ? 'form-control is-invalid' : 'form-control'"
                        class="form-control"
                        id="email_input"
                        name="email_input"
                        placeholder="Email"
                        v-model.trim="email"
                        :readonly="is_edit ? false : true"
                    >
                    <div class="invalid-feedback">Email address already in used</div>
                </div>

                <div class="form-group" v-if="is_edit">
                    <label for="pwd">New Password</label>
                    <input
                        type="password"
                        :class="is_pwd_invalid ? 'form-control is-invalid' : 'form-control'"
                        id="password_input"
                        name="password_input"
                        placeholder="Password"
                        v-model.trim="password"
                    >
                    <div class="invalid-feedback">Passwords does not match</div>
                </div>

                <div class="form-group" id="last_input" v-if="is_edit">
                    <label for="cpassword">Confirm Password</label>
                    <input v-if="is_edit"
                        type="password"
                        :class="is_pwd_invalid ? 'form-control is-invalid' : 'form-control'"
                        id="cpassword"
                        name="cpassword"
                        placeholder="Confirm Password"
                        v-model.trim="passwordC"
                    >
                    <div class="invalid-feedback">Passwords does not match</div>
                </div>      
            </form>

            <div class="text-center" v-if="is_edit">
                <button v-if="is_edit"
                    name="submit"
                    type="submit"
                    class="btn btn-primary"
                    @click="updateProfile"
                >Save</button>
                <button 
                    name="cancel"
                    value="cancel"
                    @click="toggleEdit"
                    class="btn btn-secondary"
                >Cancel</button>
            </div>
            <div class="text-center" v-else>
                <button 
                    name="cancel"
                    value="cancel"
                    @click="toggleEdit"
                    class="btn btn-primary"
                >Edit</button>
            </div>        
        </div>

    </main>

    <script src="../javascript/profile.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>