.card-body {
    padding: 12px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.card-body h6{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-distance {
    margin: 0;
    font-weight: bold;
    color: rgba(0,0,0,0.56);
}

.card-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background-color: rgb(47, 54, 58);
}

.card-img img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    object-position: center; 
}