body {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url('../images/bg-sg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.header-container {
    height: 55vh;
    min-height: 200px;
}

.search-container {
    margin: 0 auto;
    max-width: 750px;
    height: 100%;
    padding-top: 10%;
}

.title {
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
}

.title-bold {
    font-weight: bold;
}

.search {
    background-color: #FFFFFF;
    height: 54px;
    border-radius: 8px;
    padding: 8px;
    padding-left: 12px;

    display: flex;
    align-items: center;
}

.filter-button {
    border: 0;
    outline: 0;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;   
    margin: 0 auto;
    line-height: 0;
    font-size: 32px;
}

#btn-filter {
    background-color: transparent;
}

#btn-search {
    font-size: 1em;
}

.btn-active, .search-button :hover {
    color: #007bff;
}

.message-chevron {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.form-check {
    padding-left: 0;
}

/* Filter Checklists */
.tags-checklist {
    display: flex;
    flex-flow: row wrap;
}

.btn-grp {
    display: flex;
    justify-content: flex-end;
}

input.check-button {
    display: none;
} 

input.check-button + label {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #EFEFEF;
    padding: 12px 20px;
    border-radius: 8px;
    color: rgba(0,0,0,0.87);
    margin-right: 10px;
}

input.check-button + label:active, input.check-button:checked + label {
    background: #007bff;
    color: #FFFFFF;
}

#search-bar {
  border: 0;  
  outline: 0;
  height: 100%;
  flex-grow: 1;
  font-size: 16px;
}

#search-settings .card {
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#main {
    margin-bottom: 24px;
}

#warning .alert{
    width: 100%;
    text-align: center;
}