/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

html,
body,
#main {
    height: 100%;
}


.container-fluid, .row {
    height: 100%;
}

.col-md-8 {
    padding: 0;
}

.photo {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-muted {
    font-weight: 500;
}

#nav {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

#info {
    padding-left: 0;
    padding-right: 0;
}

/* buttons row */
#buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-row button {
    border-radius: 12px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

/* responsiveness */
@media only screen and (max-width: 800px) {
    .col-md-8 {
        height: 100%;
    }

    #info {
        margin-bottom: 3rem;
    }
}