const foursquare = {
    client_id: "",
    client_secret: "",
};
const google_maps = {
    api_key: ""
};
const default_location = {
    lat: 1.296638,
    lng: 103.8504066,
};
const default_filter = {
    uid_tag: "4d4b7105d754a06374d81259",
    radius: 500,
};
