<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jiak Simi</title>

    <!-- Load necessary files-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./env.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/shared.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/card.css">


  </head>
  <body>
    <main id="main">

        <!-- search bar -->
        <header class="container header-container">
            <div class="search-container" id="search-container">
                <div class="title">
                    <span class="title-bold">Jiak</span><span>Simi</span>
                </div>

            <div class="search">
                    <input id="search-bar" type="text" placeholder="Search for a place">
                    <button id="btn-filter" class="search-button" data-toggle="collapse" data-target="#search-settings" aria-expanded="false" v-on:click="is_filter_card_active = !is_filter_card_active">
                        <span class="material-icons" :style="filterBtnColor">
                            tune
                        </span>
                    </button>
                    <button id="btn-search" class="search-button" v-on:click="getVenues()">
                        <span class="material-icons">
                            search
                        </span>
                    </button>
            </div>

            <!-- Modal Filter Settings -->
                <div class="collapse mt-2" id="search-settings">
                    <div class="card card-body">
                        <h4>Filter Settings</h4>

                        <!-- Forms -->
                        <form>
                            <div class="form-group">
                                <label for="distanceDDL">Distance (m)</label>
                                <select class="form-control" v-model="radius">
                                    <option v-for="item in filter_distance_list" :selected="item == radius ? true : false">
                                        {{item}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-check">
                                <label for="tagsLabel">Tags</label></form></br>
                                <div class="tags-checklist">
                                    <div class="tagCheck" v-for="tag in system_tags">
                                        <input :id="tag.uid" type="checkbox" :value="tag.uid" class="check-button" v-model="user_tags" :checked="user_tags.includes(tag.uid)">
                                        <label :for="tag.uid">{{tag.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Save button -->

                    </div>
                </div>
            </div>

        </header>

        <div class="container message-chevron p-3">
            <span id="message">Food around you</span>
            <span class="material-icons">expand_more</span>
        </div>

        <!-- Card Rows -->
        <div class="container">
            <div class="row">
                <card 
                    v-for="item in venues"
                    v-bind:place="item"
                    v-bind:key="item.id"
                ></card>
            </div>
        </div>
    </main>

    <!-- Javascript -->
    <script src="./javascript/homepage.js"></script>
    <script src="./javascript/components/card.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
