<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <!-- Load necessary files-->
        <script src="./env.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./javascript/components/navbar.js"></script>

        <!-- for the small icons -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./css/shared.css">
        <link rel="stylesheet" href="./css/map.css">

        <!-- for the maps api -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        <script id="mapsAPI" defer></script>

        <script>
            document.getElementById(
                "mapsAPI"
            ).src = `https://maps.googleapis.com/maps/api/js?key=${google_maps.api_key}&callback=initMap&v=weekly`;
        </script>

        <title>Map Directions</title>

        <script>
            function initMap() {
                const directionsService = new google.maps.DirectionsService();
                const directionsRenderer = new google.maps.DirectionsRenderer();

                const queryString = window.location.search;
                const params = new URLSearchParams(queryString);

                const currentPos = params.get("currentPos").split(",");
                const userLat = currentPos[0];
                const userLng = currentPos[1];

                const map = new google.maps.Map(
                    document.getElementById("map"),
                    {
                        zoom: 15,
                        center: { lat: Number(userLat), lng: Number(userLng) },
                    }
                );
                directionsRenderer.setMap(map);

                calculateAndDisplayRoute(directionsService, directionsRenderer);
            }

            function calculateAndDisplayRoute(
                directionsService,
                directionsRenderer
            ) {
                const queryString = window.location.search;
                const params = new URLSearchParams(queryString);

                const currentPos = params.get("currentPos").split(",");
                const userLat = currentPos[0];
                const userLng = currentPos[1];

                const venuePos = params.get("venuePos").split(",");
                const venueLat = venuePos[0];
                const venueLng = venuePos[1];

                directionsService.route(
                    {
                        origin: {
                            lat: Number(userLat),
                            lng: Number(userLng),
                        },
                        destination: {
                            lat: Number(venueLat),
                            lng: Number(venueLng),
                        },
                        travelMode: google.maps.TravelMode.WALKING,
                    },
                    (response, status) => {
                        if (status === "OK") {
                            directionsRenderer.setDirections(response);
                        } else {
                            window.alert(
                                "Directions request failed due to " + status
                            );
                        }
                    }
                );
            }
        </script>
    </head>
    <body>

        <div id="main">
            <nav id="nav">
                <navbar
                    v-bind:is-login="is_user_login"
                    v-bind:links="links"
                ></navbar>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div id="info" class="col-md-4">
                        <!-- <img :src="photo" class="card-img-top" alt="venue_img" /> -->
                        <img :src="photo" class="mx-auto d-block" alt="venue_img" />
    
                        <h5 class="mt-3 text-center">{{name}}</h5>
    
                        <ul
                            class="list-group list-group-horizontal-sm justify-content-center"
                        >
                            <li
                                class="list-group-item border-0"
                                v-for="cat in categories"
                            >
                                <h6 class="text-muted">{{cat.name}}</h6>
                            </li>
                        </ul>
    
                        <hr />
    
                        <!-- buttons -->
    
                        <div id="buttons-row">
                            <button class="btn btn-outline-secondary button" @click="openMapApp">
                                <span class="material-icons" style="margin-right: -12px;">maps</span>                               
                                <span>Directions</span>
                            </button>
                            <button 
                                :class="is_favourite ? 'btn btn-danger button' : 'btn btn-outline-secondary button'"
                                style="margin-left: 12px;"
                                v-if="is_user_login"
                                @click="updateFavourite"
                            >
                                <span class="material-icons" style="margin-right: 8px;">favorite</span>                               
                                <span>Favourites</span>
                            </button>
                        </div>
    
    
                        <hr />
    
                        <span v-if="desc.length != 0">
                            <p class="text-justify">{{desc}}</p>
                            <hr />
                        </span>
    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker"></i>
                                {{ address }}
                                <span class="text-muted float-right">
                                    {{distance}}m
                                </span>
                            </li>
                            <li
                                class="list-group-item"
                                v-if="Object.keys(price).length !== 0"
                            >
                                <b>Price: </b>{{price.message}}
                                <i class="fa fa-usd" v-for="num in price.tier"> </i>
                            </li>
                            <li class="list-group-item">
                                <a :href="foursq_url" target="_blank">
                                    Foursquare Page
                                </a>
                            </li>
                            <!-- <i class="fa fa-external-link"></i>  -->
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        

        <script src="./javascript/map.js"></script>
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
